.res-card {
  min-height: 300px;
  max-width: 200px;
  width: 100%;
  height: 100%;
  background-color: rgb(199, 224, 246);
}

.card-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-image {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cuisine {
  display: flex;
}

.res-card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.res-card:hover {
  border: 1px solid palevioletred;
}

.card-image img {
  object-fit: contain;
  height: 100px;
}
